<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TBankAndroidApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_mgpu_app_presentation"
        android:label="mGPU"
        android:roundIcon="@mipmap/icon_mgpu_app_presentation"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProdHackathonSPB">

        <activity
            android:name=".menu.presentation.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".main.presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".login.presentation.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".signup.presentation.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profile.presentation.UserProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".splash.presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>